:root {
  @layer reset, base, tokens, recipes, utilities;
  --white-bg: #FBFBFB;
  background: url('../src/assets/images/background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:62.5%;
  body {
    margin: 0;
    padding: 0;
    /* position:fixed; */
  }
  
  /* bowlby-one-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bowlby One';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/bowlby-one-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* merriweather-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/merriweather-sans-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}


